In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\sanju\healthcare_insights_dashboard\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/sanju/Healthcare_Insights_Dashboard/Healthcare-dataset.csv')
df.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
2,24413,1/5/2023,1/12/2023,Malaria,General,CT Scan,Jay Sinha,1/15/2023,5.0,35255,31730
3,27360,1/5/2023,1/12/2023,Flu,Private,X-Ray,Jaya Yaadav,1/19/2023,5.0,6582,5924
4,26097,1/6/2023,1/12/2023,Viral Infection,General,Blood Test,Jaya Yaadav,2/6/2023,4.9,4567,4110

In [4]:
df.describe()

         Patient_ID     Feedback  Billing Amount  Health Insurance Amount
count   7157.000000  7157.000000     7157.000000              7157.000000
mean   27149.000000     4.723543    26607.891854             23947.292162
std     2066.192271     0.479901    25791.931009             23212.695899
min    23571.000000     3.500000     1223.000000              1101.000000
25%    25360.000000     4.500000     5454.000000              4909.000000
50%    27149.000000     5.000000    12348.000000             11113.000000
75%    28938.000000     5.000000    43522.000000             39170.000000
max    30727.000000     5.000000    95867.000000             86280.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   object
 2   Discharge_Date           7157 non-null   object
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 615.2+ KB

In [6]:
df.isnull().any()

Patient_ID                 False
Admit_Date                 False
Discharge_Date             False
Diagnosis                  False
Bed_Occupancy              False
Test                       False
Doctor                     False
Followup Date               True
Feedback                   False
Billing Amount             False
Health Insurance Amount    False
dtype: bool

In [7]:
df['Followup Date'].isnull().sum()

np.int64(122)

In [8]:
# Drop rows with missing values in 'Followup Date' column directly in the DataFrame
df.dropna(subset=['Followup Date'], inplace=True)

# Verify the changes
print(df.shape)  # Prints the updated number of rows and columns

(7035, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   object
 2   Discharge_Date           7035 non-null   object
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 659.5+ KB

In [10]:
df['Admit_Date'] = pd.to_datetime(df['Admit_Date'])

In [11]:
df['Discharge_Date'] = pd.to_datetime(df['Discharge_Date'])

In [12]:
df['Followup Date'] = pd.to_datetime(df['Followup Date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   datetime64[ns]
 2   Discharge_Date           7035 non-null   datetime64[ns]
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(4)
memory usage: 659.5+ KB

In [14]:
df['Billing Amount'] = pd.to_numeric(df['Billing Amount'], errors='coerce')
df['Health Insurance Amount'] = pd.to_numeric(df['Health Insurance Amount'], errors='coerce')

In [15]:
# saving the cleaned data to a new file
df.to_csv('C:/sanju/Healthcare_Insights_Dashboard/Healthcare-datasets-updated.csv', index=False)

In [17]:
df1 = pd.read_csv('C:/sanju/Healthcare_Insights_Dashboard/Healthcare-datasets-updated.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7035 entries, 0 to 7034
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   object
 2   Discharge_Date           7035 non-null   object
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 604.7+ KB